In [13]:
import pandas as pd

In [15]:
candidates = ['Eason','Zion','Sam','Soon']
Length = ['1 week','1 week','1 week','1 week']
counts = [1,2,7,4]

list_labels = ['candidates','Length','counts']
list_cols = [candidates, Length, counts]
zipped = list(zip(list_labels, list_cols))

In [16]:
jerk = pd.DataFrame(dict(zipped))
print(jerk)

  candidates  Length  counts
0      Eason  1 week       1
1       Zion  1 week       2
2        Sam  1 week       7
3       Soon  1 week       4

In [18]:
jerk.groupby(by="Length")['counts'].mean()

Length
1 week    3.5
Name: counts, dtype: float64

In [39]:
import pandas as pd
import numpy as np
pop1 = np.random.randint(1000000, size = 1)
pop2 = np.random.randint(1000000, size = 1)
print(pop1,pop2)

[977383] [968973]

In [40]:
data = {'weekday':['Sat','Sun'],
        'City':['Taipei','Tainan'],
        'population':['977383','968973']}

In [41]:
record = pd.DataFrame(data)
print(record)

  weekday    City population
0     Sat  Taipei     977383
1     Sun  Tainan     968973